{% extends "layout.html" %} {% block content %}
<h2>Test DFA</h2>
<form method="post" action="/dfa-test">
	<textarea name="states" placeholder="States" required></textarea><br />
	<textarea name="symbols" placeholder="Symbols" required></textarea><br />
	<input name="start" placeholder="Start State" required /><br />
	<textarea name="final" placeholder="Final States" required></textarea><br />
	<textarea
		name="transitions"
		rows="5"
		placeholder="Transitions"
		required
	></textarea
	><br />
	<input name="string" placeholder="Input String" required /><br />
	<button type="submit">Test</button>
</form>

{% if result %}
<div class="result">{{ result }}</div>
{% endif %} {% endblock %}
