<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Teori Bahasa dan Automata{% endblock %}</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<aside class="sidebar">
				<h2>Teori Bahasa dan Automata</h2>
				<nav>
					<a href="/testdfa">Test String DFA</a>
					<a href="/regex">Generate NFA & Test</a>
					<a href="/minimize">Minimize DFA</a>
					<a href="/equivalence">DFA Equivalence</a>
				</nav>
				<h3>Kelompok 4</h3>
			</aside>
			<main class="main">
				<section class="content">{% block content %}{% endblock %}</section>
			</main>
		</div>
	</body>
</html>
