<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Automata Web</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<aside class="sidebar">
				<h1>Automata Web</h1>
				<nav>
					<a href="{{ url_for('dfa_test') }}">Test DFA</a>
					<a href="{{ url_for('regex_test') }}">Regex to NFA</a>
					<a href="{{ url_for('minimize_dfa') }}">Minimize DFA</a>
					<a href="{{ url_for('dfa_equivalence') }}">DFA Equivalence</a>
				</nav>
			</aside>
			<main class="main">
				<section class="content">{% block content %}{% endblock %}</section>
			</main>
		</div>
	</body>
</html>
